@import "@material/elevation";
@import "/src/styles/variable.scss";
@import "/src/styles/shadeGenerator.scss";

.profile_container {
  margin: 1rem auto 0rem auto;
  padding: 0rem 0.1rem 0rem 0.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dent {
  transition: all 1s;
  transform: perspective(700px) rotateX(0deg) rotateY(0deg);
}

.dent:hover {
  transition: none;
}

.profile_image_container {
  margin: auto;
  margin-bottom: 1rem;
  width: 190px;
}

.profile_image {
  position: relative;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border: 4px solid makeColorPalette($color-complement-0, 500);
  @include elevation(2, $color-complement-4);
}

.profile_image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.profile_description {
  max-width: 460px;
  margin: auto;
}

/**********************************
**********************************/

.open_capsule {
  $capsule-section-width: 1rem;

  $capsule-cover-bg-color: makeColorPalette($color-complement-0, 500);
  $capusle-content-bg: makeColorPalette($color-primary-1, 500);
  $capsule-content-color: makeColorPalette($color-primary-4, 900);

  display: inline-flex;
  justify-content: center;
  width: 100%;

  .open_capsule__left {
    @include elevation(4);
    transition: box-shadow 0.7s cubic-bezier(0, 1, 0.42, 1);
    background: ($capsule-cover-bg-color);
    flex: 0 0 auto;
    width: ($capsule-section-width);
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
  }

  .open_capsule__inside__wrapper {
    padding: 0.5rem 0rem 0.5rem 0rem;
    flex: 1;
    transition: width 1s;
  }

  .open_capsule__inside__wrapper__content {
    padding: 0.5rem 1rem;
    text-align: center;
    position: relative;
    background: ($capusle-content-bg);
    color: ($capsule-content-color);
    font-size: 1.1rem;
    flex: 0 1 auto;
    overflow: hidden;
    @include elevation(1);
    z-index: 1;
  }

  @media only screen and (min-width: 992px) {
    .open_capsule__inside__wrapper__content {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .open_capsule__right {
    transition: box-shadow 0.7s cubic-bezier(0, 1, 0.42, 1);
    background: ($capsule-cover-bg-color);
    flex: 0 0 auto;
    width: ($capsule-section-width);
    z-index: 2;
    border-radius: 0px 10px 10px 0px;
    @include elevation(4);
  }
}
