$color-primary-0: #3690ca; /* Main Primary color */
$color-primary-1: #85c0e6;
$color-primary-2: #58a5d7;
$color-primary-3: #147bbd;
$color-primary-4: #075c94;

$color-complement-0: #ffa738; /* Main Complement color */
$color-complement-1: #ffcc8c;
$color-complement-2: #ffb85f;
$color-complement-3: #ff940d;
$color-complement-4: #e78100;

/**********
BREAKPOINTS
***********/

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
