@import "@material/elevation";
@import "/src/styles/variable.scss";
@import "/src/styles/shadeGenerator.scss";

.card,
.card_border {
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: makeColorPalette($color-primary-1, 50);

  width: 100%;
  @include elevation(2, black, 0.1);
}

.card .card_img,
.card_border .card_img {
  overflow: hidden;
  height: 0;
  border-radius: 0.3rem 0.3rem 0 0;
  padding-bottom: 55%;
}
.card .card_img > img,
.card_border .card_img > img {
  width: 100%;
}
.card .card_body,
.card_border .card_body {
  padding: 0.5rem;
}
.card .card_body .card_title,
.card_border .card_body .card_title {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: makeColorPalette($color-primary-4, 900);
  font-weight: 600;
  margin-bottom: 0.2rem;
}

@media only screen and (min-width: 1200px) {
  .card .card_body {
    padding: 1rem;
  }
  .card .card_body .card_title {
    margin-bottom: 0.5rem;
  }
}
.card .card_body .card_description,
.card_border .card_body .card_description {
  color: makeColorPalette($color-primary-4, 900);
  font-size: 1.1rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.card_border {
  border: 4px solid #363d4e;
}
